<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>model</key>
		<string>Murcelago</string>
		<key>lastStarted</key>
		<date>2022-04-06T10:36:08Z</date>
		<key>imageName</key>
		<string>Car</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Ferrari</string>
		<key>model</key>
		<string>Enzo</string>
		<key>lastStarted</key>
		<date>2022-04-06T10:40:52Z</date>
		<key>imageName</key>
		<string>Car1</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>138</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>3</string>
		<key>lastStarted</key>
		<date>2022-04-06T10:36:08Z</date>
		<key>imageName</key>
		<string>Car4</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>19</integer>
			<key>blue</key>
			<integer>94</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Mercedes</string>
		<key>model</key>
		<string>C-class</string>
		<key>lastStarted</key>
		<date>2022-04-06T10:44:36Z</date>
		<key>imageName</key>
		<string>Car2</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>X-Trail</string>
		<key>lastStarted</key>
		<date>2022-04-06T10:45:47Z</date>
		<key>imageName</key>
		<string>Car3</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
